@import "palete";

.login-container {
  padding: 36px;
  background-color: $color-white;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
  min-width: 340px;


  &__title {
    text-align: center;
    margin-bottom: 24px;
  }

  .not-profile-link {
    font-size: 11px;
    text-align: center;
  }
}
