$color-primary: #3369F3;
$color-danger: #FF0000;
$color-white: #FFF;
$color-darK: #1E1E1E;
$color-light-grey: #FBFBFB;
$color-grey: #999;

$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;