$color-primary: #3369F3;
$color-danger: #F00;
$color-white: #FFF;
$color-darK: #1E1E1E;
$color-light-grey: #FBFBFB;
$color-grey: #999;

$font-family: inter, system-ui, avenir, helvetica, arial, sans-serif;
