@import "../../styles/palete";

.search-container {
  margin-top: 24px;
  position: relative;
  width: 100%;

  &__input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px 126px;
    background: #EFEFEF;
    transition: 200ms;

    &:not(:placeholder-shown),
    &:focus {
      padding: 10px 30px;

      +.search-container__icon {
        left: 10px;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 99px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 200ms;
  }
}
