<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Мы уже фиксим</title>
</head>
<body>
<div id="app">
    <div class="error">
        <h1 class="error__status">500</h1>
        <p class="error__text">Мы уже фиксим</p>
        <a href="chat.hbs" class="link">Назад к чатам</a>
    </div>
</div>
<script type="module" src="main.js"></script>
</body>
</html>
